// Color Scheme

$black: #25272C;
$blacktwo: #354151;
$red: #BA2A2A;
$green: #008542;
$greentwo: #73BA25;
$pink: #C95F5F;
$blue: #006596;
$lightblue: #0088CC;
$skyblue: #81A3CF;
$midnight: #53586F;
$white: #F6F9FC;

